@use 'variaveis';

.event{
    display: block;
    padding: 80px 0;
    background-image: linear-gradient(#1b6ca7,#442bdb);
    border: solid .5px;
    border-top: none;

    // background-color: red;

    &--frontend{
        background-image: linear-gradient(variaveis.$blue1, variaveis.$blue2);
    }

    &--backend{
        background-image: linear-gradient(variaveis.$blue2, variaveis.$pink);
    }

    &--ui-ux{
        background-image: linear-gradient(variaveis.$pink, variaveis.$yellow);
    }

    &--data-science{
        background-image: linear-gradient(variaveis.$yellow, variaveis.$pink);
    }

    &--image-left{

        .event__details{
            // margin-left: 40px;
            // margin-right: 0;
        }
        .container{
            flex-direction: row-reverse;
        }
    }
    
    .container{
        gap: 40px;
        display: flex;
        // flex-direction: row-reverse;
    }

    &__details{
        color: variaveis.$textColor-Sec;
        // margin-right: 40px;
        // background-color: aqua;
        
        &__title{
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 16px;
            // background-color: blue;
            
        }
        
        &__description{
            line-height: 22px;
            text-align: justify;
            // background-color: chocolate;
        }
    }

    &__image{
        max-width: 360px;
    }

    @media (max-width: variaveis.$mobile){
        .container{
            display: block;
        }

        &__image{
            width: 100%;
        }

        &__details{
            margin-right: 0;
            margin-bottom: 16px;
        }
    }

}

// .event:nth-child(3), .event:nth-child(5){
//     // background-image: linear-gradient(#442bdb, #8c1b1f);
//     border: none;

//     .event__details{
//         margin-left: 40px;
//         margin-right: 0;
//     }
//     .container{
//         flex-direction: row-reverse;
        
        
//     }

//     @media (max-width: variaveis.$mobile){
//         .event__details{
//         margin-left: 0;
//         }
//     }
// }
