@use 'variaveis';

.hero{
    background-image: url(../images/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 64px;
    padding-bottom: 100px;
    position: relative; // Contém o conteúdo dentro do container

    .container{
        position: relative; // Contém o conteúdo dentro do container
    }

    &::before{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        content:'';
        opacity: 0.7;
    }

    &__text{
        margin-top: 64px;
        margin-bottom: 64px;
        color: variaveis.$textColor-a;
        font-weight: 800;
        text-align: center;
        font-size: variaveis.$fontSize--desk;
        line-height: 56px;
    }

    &__logo{
        display: block;
        margin: 0 auto;
        height: 80px;
    }
    
    @media (max-width: variaveis.$mobile){
        padding: 40px 0;

        &__logo{
            height: 24px;
        }

        &__text{
            font-size: variaveis.$fontSize--table;
            line-height: 24px;
            margin: 24px 0;
        }
    }
}