// Screen

$mobile:640px;
$tablet:640.01px;

// Background-color

$bkgDefault:#fff;
$bkgBtn:#4f2ac3;

// Text color
$textColor-Default:#fff;
$textColor-Sec:#000;

// Font Size
$fontSize--desk:40px;
$fontSize--table:24px;
$fontSize--mobile:16px;

// Gradiente Color
$blue1:#1b6ca7;
$blue2:#442bdb;
$pink:#89223b;
$yellow:#9c791d;