@use 'hero';
@use 'variaveis';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Orbitron, sans-serif;
    color: #fff;
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: variaveis.$mobile){
        max-width: 80%;
        // background-color: blue;
        
    }

    @media (min-width: variaveis.$tablet) and (max-width: 1024px){
        max-width: 90%;
        // background-color: aqua;
    }
}